/* .search{
    display: inline-flex;
    }
    
    .btn{
        font-family: "Open Sans";
        font-size: 18px;
        background: #003566;
        width: 80px;
        height: 40px;
        text-align: left;
        color: #d9d9d9;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    .barra{
        margin-left: 50px;
        height: 30px;
        border-radius: 5px;
    }
    
    .btn:hover {
        color: #d9d9d9;
        background-color: #457b9d;
    } */
    
    /* @media screen and (max-width: 400px) {
        .search{
            display: inline-flex;
            }
            
            .btn{
                font-family: "Open Sans";
                font-size: 18px;
                background: #003566;
                width: 80px;
                height: 40px;
                text-align: center;
                color: #d9d9d9;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 10px;
            }
            
            .barra{
                margin-left: 1px;
                height: 40px;
                border-radius: 5px;
            }
            
            .btn:hover {
                color: #d9d9d9;
                background-color: #457b9d;
            }
    } */


    .container{
        display: flex;
        align-items: center;
    }
    
    .textBox{
        border-style: double;
        height: 30px;
        width: 300px;
        font-size: 20px;
        font-weight: 200;
    }
    
    .button{
        border-style: none;
        display: inline-block;
        background-color: transparent;
        color:white;
        height: 30px;
        font-size: 25px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        cursor: pointer;
        transition-duration: 0.4s;
        margin-top: 1px;
        margin-left: 10px;
    
    }
    
    .button:hover{
        color:rgb(82, 83, 82);
        cursor: pointer;
    }