/* .paginadoUl{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px;
  margin-right: 65px;
}
.paginadoLi{
  margin: 2px;
}

.paginadoBtn{
  background-color:  rgb(59, 59, 59);
  color: rgb(249, 249, 249);
  transition: all 200ms;
  cursor: pointer;
  height: 30px;
  width: 30px;

}
.paginadoBtn:hover{
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: rgb(0, 0, 0);
}
.paginadoBtn:focus{
  background-color: rgb(255, 255, 255);
  transform: scale(1.2);
  color: rgb(0, 0, 0);
} */

.barra {
  list-style-type: none;
  text-align: center;
  display: inline-flex;
  border: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}

.barra li a {
  color: rgb(255, 255, 255);
  
  float: center;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  margin: 0 4px;
  text-align: center;
}

/* .barra li a.activo {
  color: white;
  border-radius: 5px;
} */

.barra li a:hover{
  background-color: gray;
}