@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.landingContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  height: 100vh;
  background-image: url("../../images/Hamburguesa.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  background: #afac05;
  padding: 8px;
  /* justify-content: left;
  text-align: center; */
  text-transform: uppercase;
  color: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 30px;
  border: none;
}

.btn:hover {
  background-color: rgb(198, 211, 22);
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.buttonContainer {
  position: absolute;
  left: 5%;
  bottom: 25%;
}
.welcome {
  position: absolute;
  left: 70px;
  color: white;
  color: white;
  text-align: center;
  font-size: 20px;
}
